@media (max-width: 600px) {
    @font-face {
        font-family: 'RobotoFont';
        src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
    
    }
    
    body {
        font-family: 'RobotoFont', sans-serif ;
        background-color: #171E27;
        color: white;
    
    
    
    }
    .body-container {
        display: flex;
        flex-direction: column;
    
        /* background-color: 'black'; */
        width: 100%;
        margin: 0;
        padding-top: 0px;
        justify-content: center;
        align-items: center;
    
    }
    
    .btn {
        width: 90%;
        height: 120px;
        margin-top: 0px;
        margin-top: 25px;
        font-size: larger;
        border-radius: 8px;
        background-color: #171E27;
        color: rgb(30, 248, 22);
        border: 2px solid rgb(30, 248, 22);
    }
    
    #download {
        background-color: rgb(63, 63, 63);
        color: rgb(30, 248, 22);
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #anh, #pre {
        background-color: #171E27;
    
    }
    
    #function-container {
        display: flex;
    }
    
    .function {
        height: 45px;
        width: 120px;
        margin-top: 8px;
        border-radius: 8px;
        font-size: 15px;
        color: white;
        border: 2px solid white;
    
    }
    
    a#link {
        color: honeydew;
    
    }
    
    .log-display {
        border-width: 2px;
        border-color: black;
        height: 160px;
        width: 90%;
        background-color: #171E27;
        /* background-color: rgb(88, 88, 88); */
        border-radius: 8px;
        margin-bottom: 5px;
        font-size: 35px;
    
    }
    
    ul {
        list-style-type: none;
    }
    
    #data-list {
        font-size: 9px;
        height: 150px;
        overflow: auto;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    
    }
}

/* ----------------------------------------------------------------
----------------------------------------------------------------
---------------------------------------------------------------- */

@font-face {
    font-family: 'RobotoFont';
    src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');

}

body {
    font-family: 'RobotoFont', sans-serif ;
    background-color: #171E27;
    color: white;



}
.body-container {
    display: flex;
    flex-direction: column;

    /* background-color: 'black'; */
    width: 100%;
    margin: 0;
    padding-top: 0px;
    justify-content: center;
    align-items: center;

}

.btn {
    width: 90%;
    height: 120px;
    margin-top: 0px;
    margin-top: 25px;
    font-size: larger;
    border-radius: 8px;
    background-color: #171E27;
    color: rgb(30, 248, 22);
    border: 2px solid rgb(30, 248, 22);
}

#download {
    background-color: rgb(63, 63, 63);
    color: rgb(30, 248, 22);
    margin-left: 10px;
    margin-right: 10px;
}

#anh, #pre {
    background-color: #171E27;

}

#function-container {
    display: flex;
}

.function {
    height: 45px;
    width: 120px;
    margin-top: 8px;
    border-radius: 8px;
    font-size: 15px;
    color: white;
    border: 2px solid white;

}

a#link {
    color: honeydew;

}

.log-display {
    border-width: 2px;
    border-color: black;
    height: 160px;
    width: 90%;
    background-color: #171E27;
    /* background-color: rgb(88, 88, 88); */
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 35px;

}

ul {
    list-style-type: none;
}

#data-list {
    font-size: 9px;
    height: 150px;
    overflow: auto;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}

