<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <meta http-equiv="refresh" content="10"> -->
	<title>New page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='calendar-style.css') }}">
	<!-- <link rel="stylesheet" href="calendar-style.css"> -->

</head>

<body>
	<div class="body-container">
		<div id="calendar-title">LỊCH SỬ TĂNG CA THÁNG <div  id="month"></div></p>


		<div id="day-container0" class="div"></div>
		<div id="day-container1" class="div"></div>
		<div id="day-container2" class="div"></div>
		<div id="day-container3" class="div"></div>
		<div id="day-container4" class="div"></div>
		<div id="day-container5" class="div"></div>

	</div>
	<div id="staffs-container">
		<button id="btn_5" class="btn" onclick="sendName('btn_5')">T.PHƯƠNG</button><br>
		<button id="btn_6" class="btn" onclick="sendName('btn_6')">VIỆT</button><br>
		<button id="btn_7" class="btn" onclick="sendName('btn_7')">YẾN</button><br>
		<button id="btn_8" class="btn" onclick="sendName('btn_8')">PHÚC</button><br>
		<button id="btn_9" class="btn" onclick="sendName('btn_9')">MINH</button><br>
		<button id="btn_10" class="btn" onclick="sendName('btn_10')">QUÍ</button><br>
		<button id="btn_11" class="btn" onclick="sendName('btn_11')">MY</button><br>
		<button id="btn_12" class="btn" onclick="sendName('btn_12')">THẮNG</button><br>
		<button id="btn_13" class="btn" onclick="sendName('btn_13')">TRUNG</button><br>
		<button id="btn_14" class="btn" onclick="sendName('btn_14')">T.ANH</button><br>
		<button id="btn_15" class="btn" onclick="sendName('btn_15')">LƯU</button><br>
		<button id="btn_16" class="btn" onclick="sendName('btn_16')">KHOA</button><br>
		<button id="btn_17" class="btn" onclick="sendName('btn_17')">M.PHƯƠNG</button><br>
		<button id="btn_18" class="btn" onclick="sendName('btn_18')">TUYẾT</button><br>
	</div>


	<script src="{{ url_for('static', filename='calendar-js.js') }}"></script>
	<!-- <script src="calendar-js.js"></script> -->
</body>

</html>
