<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <meta http-equiv="refresh" content="10"> -->
	<title>New page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='calendar-style.css') }}">
	<!-- <link rel="stylesheet" href="calendar-style.css"> -->

</head>

<body>
	<div class="body-container">
		<div id="calendar-title">LỊCH SỬ TĂNG CA THÁNG <div  id="month"></div></p>
		<div id="staff"></div>

        <div id="weekday-container">
            <div class="week">MON</div>
            <div class="week">TUE</div>
            <div class="week">WED</div>
            <div class="week">THU</div>
            <div class="week">FRI</div>
            <div class="week">SAT</div>
            <div id="sun" class="week">SUN</div>
        </div>
		<div id="day-container0" class="div"></div>
		<div id="day-container1" class="div"></div>
		<!-- <div id="day-container2" class="div"></div>
		<div id="day-container3" class="div"></div>
		<div id="day-container4" class="div"></div>
		<div id="day-container5" class="div"></div> -->

	</div>
	<div id="staffs-container">
		<button id="btn_5" class="btn" title="PHẠM THỊ PHƯƠNG" >T.PHƯƠNG</button><br>
		<button id="btn_6" class="btn" title="NGUYỄN HOÀNG VIỆT" >VIỆT</button><br>
		<button id="btn_7" class="btn" title="NGUYỄN THỊ HỒNG YẾN" >YẾN</button><br>
		<button id="btn_8" class="btn" title="BÙI ĐÌNH HỒNG PHÚC" >PHÚC</button><br>
		<button id="btn_9" class="btn" title="TRƯƠNG VĂN MINH" >MINH</button><br>
		<button id="btn_10" class="btn" title="NGUYỄN QUANG QUÍ" title="NGUYỄN QUANG QUÍ">QUÍ</button><br>
		<button id="btn_11" class="btn" title="NGUYỄN THỊ DIỄM MY" >MY</button><br>
		<button id="btn_12" class="btn" title="LÊ MINH THẮNG" >THẮNG</button><br>
		<button id="btn_13" class="btn" title="LÊ QUỐC TRUNG" >TRUNG</button><br>
		<button id="btn_14" class="btn" title="NGUYỄN TUẤN ANH">T.ANH</button><br>
		<button id="btn_15" class="btn" title="TRẦN VĂN LƯU" >LƯU</button><br>
		<button id="btn_16" class="btn" title="LÊ HUỲNH ANH KHOA" >KHOA</button><br>
		<button id="btn_17" class="btn" title="NGUYỄN MAI PHƯƠNG" >M.PHƯƠNG</button><br>
		<button id="btn_18" class="btn" title="NGUYỄN PHẠM NGỌC TUYẾT" >TUYẾT</button><br>
	</div>


	<script src="{{ url_for('static', filename='calendar-js.js') }}"></script>
	<!-- <script src="calendar-js.js"></script> -->
</body>

</html>